
/* Earth dollar CSS 2016.12.03 */

/* fonts' call */
@font-face {
    font-family:OLORT___;
    src: url(".././fonts/oloron/OLORT___.TTF");
}
@font-face {
    font-family:constan;
    src: url(".././fonts/constan.ttf");
}

/* fonts assignments */
/*h1, h2, h3, h4, h5, p, li, a, label{
	font-family:OLORT___;
}*/

/* general */
p{
	font-size: 16px;
	margin-bottom:0px;
}
	a:hover{
		cursor:pointer;		
}
input:focus {
    outline: none !important;
    border:1px solid #337ab7!important;
    box-shadow: 0 0 10px #719ECE!important;
}
button{
	outline:none!important;
}
button:focus{
    background:#3867a8!important;
    color:white!important;
}
.myBlock{
	display:block;
}
.enligneBlock{
	display:inline-block;
}
.enligne{
	display:inline;
}
.droite{
	text-align:right;
}
.gauche{
	text-align:left;
}
.droite2{
	float:right;
}
.gauche2{
	float:left;
}
.bold{
	font-weight:bolder;
}
.separator{
	height:30px;
}
.goLeft2{
	float:left;
}
.mTop4{
	margin-top:4px;
}
.mTop20{
	margin-top:20px;
}
.mTop30{
	margin-top:30px;
}
.mBotton40{
	margin-bottom:40px;
}
.mLeft0{
	margin-left:0px!important;
}
.mLeft12{
	margin-left:12px;	
}
.noLeft{
	margin-left:0px;
	padding-left:0px;
}
.mRight30{
	margin-right:30px;
}
.mTop57{
	margin-top:57px;
}

/* header */
.height150{
	height:150px;
}
.nav-tabs > li a{
    padding: 10px 50px 0 50px;
    font-size:20px;
}

/* menu */
.burger{
	height:2px!important;
}
#gooey-h .open-button, #gooey-h .gooey-menu-item {
    margin-top: 0px;
    margin-left:0px;
    background-color:#000!important;
}
.styleMenu1{

}
.totalEds{
    color: #337ab7;
    text-transform:uppercase;
    margin-top: 15px;
    font-weight:900;
}
.bigger{
	font-size:20px;
}
.totalEds p{
	font-size:16px;
}
.goLeft{
	left:-17px;
}
.steelblue{
	background-color:#000!important;
}
a.gooey-menu-item img{
	width:30px!important;	
	height:30px;
}
a.gooey-menu-item{
	height:0px!important;
}

/* wallet */
.fileUpload{
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.bLeft{
	border-left:1px solid rgba(0,0,0, 0.3);
	height:200px;
}
.h200{
	height:200px;
}
.mBottom1{
	margin-bottom:40px;
}

/* send */
.inputHeight input{
	 height: 46px;
}
.inputHeight .input-group-addon img{
	width:25px;
	height:auto;
}
.sendMoney button{
	float:right;
	outline:none!important;
	background-color:#337ab7;
	color:white;
	margin-bottom:20px;
}
	.sendMoney button:hover{
		background-color: #286090;
		color:white;
}
.ajustWell a{
	margin-bottom:15px;
	font-size:1.15em;
	font-weight:600;
}
.well{
	margin-bottom:10px;
	margin-top:20px;
}
.chngCrnc2 p{
    font-weight: 700;
}
.send1{
	margin-bottom:9px;
}
.navimenu {
    padding-top:9px;
    height:13px;
}
.chngCurrnc {
    margin-right: 7px;
    margin-top: 17px;
	/*font-family:OLORT___;*/
	font-weight:800;
}
.more textarea{
	width:400px;

}
	a.gooey-menu-item img:hover{
		opacity:0.4;
}
.divCurrency{
	margin-top:15px;
	min-height:40px;
}

/* contracts */
.contract1 img, .contract2 img, .contract3 img{
	width:60px;
	height:auto;
}
#comment1, #comment2, #comment3{
	display:none;
}
.contractButton{
	background-color: #c5d1e2;
    border-radius: 12px;
    padding-left:0px;
}
	.contractButton:hover{
		background-color: #d9e3ef;
		font-weight:bold;
		cursor:pointer;
}
.rColComment{
    line-height: 17px;
    font-size: 13px;
    color: #383a3c;
}

/* contracts deployment */
.wellOutput .well{
    margin-left: 13px;
    width: 39.2%;
}
.nav-pills li.active a{
	background-color:#c5d1e2!important;
	color:#383a3c!important;
}
	.nav-pills li.active a:hover{
		background-color:#c5d1e2!important;
	}
	.nav-pills li a:hover{
		background-color:#d9e3ef!important;
	}
.textWidth {
	padding-left:0px;
}
.textWidth textarea{
	width:100%;
	height:200px;
	margin-top:20px;
}
.wallet{
	margin-left:15px;s
}

/* contracts modals */
.modal-content label, .modal-content input{
	display:block;
}
.modal-content label{
	margin-top:30px;
}
.modal-content textarea{
	width:70%;
}
.width100{
	width:70%;
	height:30px;
}
.sendModal{
	float:right;
	margin-right:30%!important;
	margin:10px 0 10px 0;
}
.modal-footer{
	clear:right;
}

.left15{
	margin-left:22%;
}
.modal-content .modal-title{
	text-align:center;
	margin-top:30px;
}









































